:root{
    --primary_color: darkblue;
    --accent2_color: ;
    --body_font: Arial, Helvetica,sans-serif;
    --heading-font: "Tahoma", "Times New Roman", "Georgia", serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body_font);
    color: var(--accent2_color);
    /* background-image: url("/wdd130/wwr/images/california-whitewater-hub.webp"); */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
     */
}

header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 0.3rem;
    background-color: lightblue;
}
header a{
    text-decoration: none;
    padding: 0.1px;
    font-weight: bold;
    margin: 0.9rem; 
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color: #ddd;
}
h1{
    text-align: center;
    position: relative;
    /* color: white; */
}

header img{
    margin-left: 3rem;
    padding: 0.3rem;
    border-radius: 90px;
}
.container1{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 10px;
}   

form {
    position: relative;
    /* border: 1px solid black; */
    height: 330px;
    padding: 15px;
    width: 350px;
}
form textarea{
    width: 270px;
    height: 40px;
    border-radius: 4px;
}

.cont input{
    height: 28px;
    width: 200px;
    padding: 5px;
    border-radius: 4px;
    margin-left: 20px;
    font-size: 15px;
}

.map{
    margin-top: 30px;
    
}

.rad{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0 10px;
}
.rad input{
    margin-left: -140px;
    padding: 0  0 10px;
    font-size: 15px;
    
}
.rad label{
    margin-right: 8rem;
    font-size: 15px;
}

.sub button{
    width: 275px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
}
section figure{
    position: relative;
    /* border: 1px solid black; */
    border-radius: 3px;
    height: 120px;
    width: 120px;
    background-color: gray;
}
section figcaption{
    margin: 10px;
}

.hero{
    position: relative;
}

p{
    text-align: center;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 20px;
    border-top: 1px solid #ddd;
    gap: 20rem;
    border: 1px solid black;
    width: 77.6rem;
}

.socialmedia a {
    display: inline-block;
    margin-left: 15px;
    text-decoration: none; 
}

.socialmedia img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.sect{
    border: 1px solid black;
    margin: 10px;
    padding: 9px;
    width: 76.9rem;
    height: 220px;
} 

section, h2{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

.fig{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 20px;
    /* vertical-align: top;
    width: 200px; */
}

figure img{
    width: 100%;
    height: auto;
}
.fig figcaption{
    padding-top: 88px;
    margin-right: 100px;
    font-size: 15px;
    
}
