:root{
    --primary_color: darkblue;
    --accent2_color: purple;
    --body_font: Arial, Helvetica,sans-serif;
    --heading-font: "Tahoma", "Times New Roman", "Georgia", serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body_font);
    color: var(--accent2_color);
}

header, main, footer{
    width: 840px;
    margin: 0 auto;
}

h1, h2{
    font-family: var(--heading-font);
    color: var(--primary_color);
}

nav, p, section, article{
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero{
    position: relative;
}

.hero image{
    display: block;
    width: 100%;
    height: auto;
}

h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary_color);
    color: #fff;
}

.hero article{
    position: absolute;
}

.hero article img{
    float: right;
    width: 125px;
}