:root{
    --primary_color: darkblue;
    --accent2_color: ;
    --body_font: Arial, Helvetica,sans-serif;
    --heading-font: "Tahoma", "Times New Roman", "Georgia", serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body_font);
    color: var(--accent2_color);
    /* background-image: url(/wdd130/wwr/images/Bhutan-Po-and-Mo-Rivers-bg.jpg); */
    /* background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    background-position: center; */
     
}

header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 0.3rem;
    background-color: rgb(228, 181, 243);
}
header a{
    text-decoration: none;
    padding: 0.1px;
    font-weight: bold;
    margin: 0.9rem; 
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color: #ddd;
    
}
h1{
    text-align: center;
    /* color: white; */
}
h2{
    text-align: center;
}
.imag{ 
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-right: 100px;
    padding-bottom: 60px;
}

.art{
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px;
}
.art img{
    width: 200px;
    height: 180px;
    
}
.advent{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.advent p{
    display: block;
}

section{
    border: 1px solid black;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 20px;
    border-top: 1px solid #ddd;
    gap: 20rem;
    border: 1px solid black;
    width: 78.5rem;
    border-radius: 2px;
    background-color: rgb(224, 172, 240);
    margin: 20px 0 20px 0;
}

header img{
        margin-left: 3rem;
        padding: 0.3rem;
        border-radius: 90px;
}
/*styling in contact us*/
.container1{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 10px;
    
}   

form {
    position: relative;
    /* border: 1px solid black; */
    height: 350px;
    padding: 15px;
    width: 350px;
    margin: 20px;
    border-radius: 8px;
    background-color: rgb(238, 203, 248);
}
form textarea{
    width: 270px;
    height: 40px;
    border-radius: 4px;
    position: relative; 
    resize: none;
    max-width: 85%;
    max-height: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    box-sizing: border-box;

}

.cont input{
    height: 28px;
    width: 200px;
    padding: 5px;
    border-radius: 4px;
    margin-left: 20px;
    font-size: 15px;
}

.map{
    margin-top: 30px;
    
}

.rad{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0 10px;
}
.rad input{
    margin-left: -130px;
    padding: 0  0 10px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rad label{
    margin-right: 8rem;
    font-size: 15px;
}

.check{
    font-size: 15px;
    padding: 4px;
}

.sub button{
    width: 275px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin: 2px;
}

.sub button:hover{
    background-color: rgb(199, 239, 239);
    width: 290px;
}
section figure{
    position: relative;
    /* border: 1px solid black; */
    border-radius: 3px;
    height: 120px;
    width: 120px;
    background-color: gray;
}
.fig{
    padding: 10px;
    margin: 20px 0 20px 0;
}

.images{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
figcaption{
    margin-bottom: 10px;
    text-align: center;
}


.hero {
    position: relative;
}
.hero a{
    text-decoration: none;
}

p{
    text-align: center;
    
}
.pic{
    border: 1px solid black;
    width: 100%;
    height: 200px;
    padding: 10px;
    border-radius: 8px;
    margin: 30px 0 40px 0;
    
}
.pic h2{
    /* text-align: center; */
    position: relative;
}
.pic img{
    float: right;
    width: 200px;
    height: 180px;
    margin-top: -50px;
    position: relative;
}
.pic p{
    padding-top: -20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.socialmedia a {
    display: inline-block;
    margin-left: 15px;
    text-decoration: none; 
}

.socialmedia img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.sect{
    border: 1px solid black;
    margin: 0 0 20px;
    padding: 9px;
    width: 78.55rem;
    height: 220px;
    border-radius: 5px; /* sect in contact us*/
} 

section, h2{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

section figcaption{
    
}

/* trip CSS */
table{
    table-layout: fixed;
    border: 2px solid black;
    border-collapse: collapse;
    letter-spacing: 1px;
    margin: 15px auto;
    /* width: 1%; */
}
td, th{
    border: 2px solid black;
    padding: 0.3rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
thead tr{
    background-color: rgb(224, 172, 240);
    color: black;
    font-weight: 600;
    font-weight: bolder;
}

.trip{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.trip p{
    border: 1px solid black;
    margin: 5px;
    height: 230px;
    width: 250px;
    padding: 6px;
    border-radius: 0 30px;
    background-color: rgb(224, 167, 241);
    
}
.trip h3{
    text-align: center;
}
.trip img{
    margin-left: 30px;
}
h3{
    padding-top: 35px;
    margin-left: 16px;
}
.intro i{
    color: rgb(144, 35, 35);
}