*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    max-width: 840px;
}

h1{
    color: darkblue;
}

main img{
    width: 150px;
    height: auto;
    padding: 1px;
    box-shadow: 5px 5px 10px gray;
    border: 1px solid rgb(0 0 0 / 0.2);
    float: right;
}
aside{
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img{
    width: 200px;
    height: auto;
}

aside h2{ 
    position: absolute;
    top: 47px;
    left: 150px;
    /* color: darkblue; */
}
p{
    padding: 0;
    color: darkblue;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
nav{
    background-color: rgb(97, 97, 193);
    padding: 1rem;
}

nav a{
    color: #eee;
    padding: 1rem;
    display: block;
}

/* Class Selectors */
.box{
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}