main{
    max-width: 840px;
}

h1{
    color: darkblue;
}

main img{
    width: 150px;
    height: auto;
    padding: 1px;
    box-shadow: #eee;
    border: 1px solid rgb(0 0 0 / 0.2);
}
aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    background-color: #eee;
    color: #333;
    text-align: center;
    padding: 1rem;
}

aside img{
    width: 200px;
    height: auto;
}


p{
    padding: 0;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
nav{
    background-color: #333;
    padding: 1rem;
}

nav a{
    color: #eee;
    padding: 1rem;
    display: block;
}