
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    /* max-width: 840px; */
    grid-column: 2/3;
    margin: 1rem;
}

h1{
    color: darkblue;
    border-bottom: 1px solid #777;
    bottom: 20px;
    padding: 0.9rem;
    position: relative;
    font-size: 1.9rem;
}

main img{
    width: 150px;
    height: auto;
    padding: 1px;
    box-shadow: 5px 5px 10px gray;
    border: 1px solid rgb(0 0 0 / 0.2);
    float: right;
}

header, footer{
    max-width: 840px;
    margin: 0 auto;
}
aside{
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

/* h2{
    display: block;
    font-size: 1.5rem;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
} */
aside img{
    width: 200px;
    height: auto;
}

aside h2{ 
    position: absolute;
    top: 23px;
    left: 68px;
    /* color: darkblue; */
}
p{
    padding: 0;
    color: 1rem;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
nav{
    background-color: rgb(97, 97, 193);
    padding: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a{
    color: white;
    padding: 1rem;
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

/* Class Selectors */
.box{
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: darkblue;
}

header, .grid, footer{
    max-width: 840px;
    margin: auto;
}

.grid {
  display: grid;
  align-items: center;
}
    

    
