main {
    max-width: 840px;
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
}

h1 {
    color: steelblue;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

nav {
    background-color: steelblue;
    padding: 1rem;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
}